.header {
    background-color: #000000;
    color: white;
    padding: 15px 20px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 60px;
    object-fit: contain;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  .header-btn .btn {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .scroll-link {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  